#define MANIFEST 24
#define IDC_STATIC -1

#include <windows.h>
#include "resource.h"

IDR_MAINFRAME DIALOGEX -4,-28,399,207
CAPTION "Realmlist"
FONT 8,"MS Sans Serif",0,0,0
MENU IDR_MAINFRAME
STYLE NOT WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX|DS_CENTER|DS_LOCALEDIT|DS_3DLOOK
BEGIN
  CONTROL "",IDC_LSV_REALMLIST,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_SHOWSELALWAYS|LVS_SINGLESEL|LVS_REPORT,6,144,384,52,WS_EX_CLIENTEDGE
  CONTROL "Директория в которой лежит WoW клиент",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE,51,6,288,9
  CONTROL "",IDC_CB_CLIENT_DIR,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWN,3,18,390,50
  CONTROL "...",IDC_FIND_CLIENT_DIR,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,25,3,16,14
  CONTROL "",IDC_EDT_REALMLIST,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,78,120,96,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT_REALMLIST_DESCR,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,180,120,210,13,WS_EX_CLIENTEDGE
  CONTROL "Реалмлист",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE,78,108,96,10
  CONTROL "Описание",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE,180,108,210,10
  CONTROL "+",IDC_REALMLIST_ADD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,3,120,20,14
  CONTROL "-",IDC_REALMLIST_DEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,27,120,20,14
  CONTROL "Установить",IDC_REALMLIST_CUR,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,3,105,68,15
  CONTROL "--",IDC_DEL_CLIENT_DIR,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,3,3,16,14
  CONTROL "ok",IDC_REALMLIST_SET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,51,120,20,14
  CONTROL "",IDC_LSV_CLIENT,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_SHOWSELALWAYS|LVS_SINGLESEL|LVS_REPORT,3,33,390,69,WS_EX_CLIENTEDGE
  CONTROL "W",IDC_FILE_RUN_WOW,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|0x00000080,372,0,20,15
END

IDR_MAINFRAME MENU
BEGIN
  POPUP "Файл"
  BEGIN
    MENUITEM "Запустить WoW",IDC_FILE_RUN_WOW
    MENUITEM SEPARATOR
    MENUITEM "Выход",IDC_FILE_EXIT
  END
  POPUP "Реалмлист"
  BEGIN
    MENUITEM "Добавить",IDC_REALMLIST_ADD
    MENUITEM "Удалить",IDC_REALMLIST_DEL
    MENUITEM "Изменить",IDC_REALMLIST_SET
    MENUITEM "Выбрать",IDC_REALMLIST_CUR
    MENUITEM "Удалить все",IDC_REALMLIST_DEL_ALL
  END
  POPUP "Директория WoW"
  BEGIN
    MENUITEM "Удалить",IDC_DEL_CLIENT_DIR
    MENUITEM "Найти...",IDC_FIND_CLIENT_DIR
  END
  POPUP "Помощь"
  BEGIN
    MENUITEM "О прграмме...",IDC_HELP_ABOUT
  END
END

IDD_ABOUT DIALOGEX 10,10,285,124
CAPTION "О программе"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU
BEGIN
  CONTROL "Realmlist 1.0",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,69,6,210,9
  CONTROL "Copyright 2014 SlaFF",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,69,21,210,9
  CONTROL "",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,9,9,45,39
  CONTROL "Ok",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,213,99,54,15
  CONTROL "",IDC_STATIC,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,66,39,213,51,WS_EX_CLIENTEDGE
END

IDR_MAINFRAME MANIFEST "../res/xpmanifest.xml"

IDR_BITMAP_WOW16 BITMAP DISCARDABLE "../res/wow16.bmp"

